<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bionjoy - HTML5 Responsive Restaurant Template</title>
  <link rel="icon" href="favicon.png" sizes="32x32" type="image/png">
  <!--owl carousel-->
  <link rel="stylesheet" type="text/css" href="plugins/owl-coursel/owl.carousel.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="plugins/owl-coursel/owl.theme.css" media="screen" />
  <!--magnific popup-->
  <link rel="stylesheet" type="text/css" href="plugins/magnific-popup/magnific-popup.css" media="screen" />
  <!--bootstrap-->
  <link rel="stylesheet" type="text/css" href="plugins/bootstrap/bootstrap.min.css" media="screen" />
  <!--awesome font icons-->
  <link rel="stylesheet" type="text/css" href="css/icon/font-awesome-4.7.0/css/font-awesome.css" media="screen" />
  <!--style-->
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <!--google font-->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="wrap">
    <!--preloader-->
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <!-- header-->
    <header id="wrap-header">
      <div class="container">
        <!--menu + logo-->
        <nav class="navbar navbar-default menu-nav">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--logo-->
              <a href="index.html" class="navbar-brand logo">
                <img src="images/logo.png" alt="image" width="150">
              </a>
              <!--/logo-->
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="reservation.html">Reservation</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                  <ul class="dropdown-menu">
                    <li><a href="food-detail.html">Food Detail</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-detail.html">Blog single</a></li>
                    <li><a href="error_404.html">Error_404</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!--/menu + logo-->
      </div>
    </header>
    <!--/header-->
    <!--wrap-content-->
    <div id="wrap-body">
      <!--slideshow-->
      <div class="heading-group slideshow color-w">
        <h1>Welccome to our<span>Restaurent</span></h1>
        <h3>BREAKFAST / CAFE / DESSERT / FAST FOOD / DINNER / EVENT</h3>
        <div class="star-group">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o star-1x"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <a class="btn btn-1" href="#">Read more</a>
      </div>
      <!--/slideshow-->
      <div class="container" id="main-content">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <!--welcome-->
            <div class="mod-welcome">
              <div class="title">Bionjoy
                <h3>Restaurent</h3></div>
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                <a class="readmore" href="about.html">Read more</a>
              </p>
            </div>
            <!--/welcome-->
          </div>
          <div class="col-sm-12 col-md-4">
            <!--reservation btn-->
            <div class="reservation-btn">
              <a href="reservation.html">
                  reservation
                </a>
            </div>
            <!--/reservation btn-->
          </div>
        </div>
        <!--ad-->
        <div class="ad">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div class="ad-item bg-1">
                <h3>Spcial offer -  Off 50%</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, commodi
                  <a class="readmore" href="food-detail.html">Read more</a>
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="ad-item bg-2">
                <h3>Hot deal - Free</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, commodi
                  <a class="readmore" href="food-detail.html">Read more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--/ad-->
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <!--menu category-->
            <div class="mn-category color-w">
              <div class="mn-category-inner">
                <div class="title">
                  <h3>Our menu</h3></div>
                <ul class="list-ul">
                  <li><a href="menu.html">01. Pizza Mexicana</a><span>$10</span></li>
                  <li><a href="menu.html">02. Fresh Juices</a><span>$46</span></li>
                  <li><a href="menu.html">03. Chicken Mojamo</a><span>$19</span></li>
                  <li><a href="menu.html">04. Zoozoo Chicken</a><span>$30</span></li>
                  <li><a href="menu.html">05. Lasagna Mermer</a><span>$23</span></li>
                  <li><a href="menu.html">06. Garbo Chicken</a><span>$21</span></li>
                  <li><a href="menu.html">07. Beef Mirchi</a><span>$22</span></li>
                  <li><a href="menu.html">08. Barbique Delite</a><span>$47</span></li>
                  <li><a href="menu.html">09. Rabit Rost</a><span>$42</span></li>
                  <li><a href="menu.html">10. Rabit Rost</a><span>$42</span></li>
                </ul>
              </div>
            </div>
            <!--/menu category-->
          </div>
          <div class="col-sm-7 col-md-8">
            <!--gallery-->
            <div class="gallery-1">
              <div class="row">
                <div class="gallery-item col-xs-7 col-sm-6 col-md-6">
                  <a href="#" class="hover-img n1">
                    <img src="images/thumbs-large/3.jpg" alt="image">
                    <div class="hover-caption color-w">
                      <h3>Salads / $35</h3></div>
                  </a>
                </div>
                <div class="gallery-item col-xs-5 col-sm-6 col-md-6">
                  <a href="#" class="hover-img n2">
                    <img src="images/thumbs-large/4.jpg" alt="image">
                    <div class="hover-caption color-w">
                      <h3>Salads / $22</h3></div>
                  </a>
                </div>
                <div class="gallery-item col-xs-5 col-sm-6 col-md-6">
                  <a href="#" class="hover-img n2">
                    <img src="images/thumbs-large/8.jpg" alt="image">
                    <div class="hover-caption color-w">
                      <h3>Salads / $18</h3></div>
                  </a>
                </div>
                <div class="gallery-item col-xs-12 col-sm-12 col-md-12">
                  <a href="#" class="hover-img n2">
                    <img src="images/thumbs-large/5.jpg" alt="image">
                    <div class="hover-caption color-w">
                      <h3>Salads / $98</h3></div>
                  </a>
                </div>
              </div>
            </div>
            <!--/gallery-->
          </div>
        </div>
        <!--populer-->
        <div class="product most-popular">
          <div class="title">Most
            <h3>Populer</h3></div>
          <div class="row">
            <div class="owl" data-items="4" data-itemsDesktop="4" data-itemsDesktopSmall="3" data-itemsTablet="2" data-itemsMobile="1">
              <div class="col-md-12">
                <div class="thumbnail">
                  <a href="images/thumbs-large/18.jpg" class="hover-img image-zoom">
                    <img src="images/18.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                  <div class="caption">
                    <h4><a href="food-detail.html">Chicken Breast</a></h4>
                    <p class="price">$56.99</p>
                    <p>Lorem ipsum dolor sit amet conse ctetur</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="thumbnail">
                  <a href="images/thumbs-large/16.jpg" class="hover-img image-zoom">
                    <img src="images/16.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                  <div class="caption">
                    <h4><a href="food-detail.html">Chicken Breast</a></h4>
                    <p class="price">$56.99</p>
                    <p>Lorem ipsum dolor sit amet conse ctetur</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="thumbnail">
                  <a href="images/thumbs-large/15.jpg" class="hover-img image-zoom">
                    <img src="images/15.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                  <div class="caption">
                    <h4><a href="food-detail.html">Chicken Breast</a></h4>
                    <p class="price">$56.99</p>
                    <p>Lorem ipsum dolor sit amet conse ctetur</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="thumbnail">
                  <a href="images/thumbs-large/14.jpg" class="hover-img image-zoom">
                    <img src="images/14.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                  <div class="caption">
                    <h4><a href="food-detail.html">Chicken Breast</a></h4>
                    <p class="price">$56.99</p>
                    <p>Lorem ipsum dolor sit amet conse ctetur</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--testimonial-->
        <div class="heading-group testimonial color-w">
          <h2>TESTIMONIALS</h2>
          <div class="star-group">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o star-1x"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <div class="owl" data-items="1" data-itemsDesktop="1" data-itemsDesktopSmall="1" data-itemsTablet="1" data-itemsMobile="1">
            <div class="testimonial-item">
              <figure class="testimonial-img"><img src="images/face-2.jpg" alt="image"></figure>
              <h4>- Susanna Davis -</h4>
              <p>" Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh."</p>
            </div>
            <div class="testimonial-item">
              <figure class="testimonial-img"><img src="images/face-1.jpg" alt="image"></figure>
              <h4>- Peter Corbett -</h4>
              <p>" Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh."</p>
            </div>
            <div class="testimonial-item">
              <figure class="testimonial-img"><img src="images/face-3.jpg" alt="image"></figure>
              <h4>- William Smith -</h4>
              <p>" Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. "</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!--blog recent-->
            <div class="recent_post">
              <div class="title">Last
                <h3>Blog</h3></div>
              <div class="media media-item">
                <div class="media-left">
                  <figure>
                    <a href="#" class="hover-img">
                      <img src="images/8.jpg" alt="image" width="110">
                    </a>
                  </figure>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Media heading</a></h4>
                  <div class="date">
                    <span>Jan 01, 2017</span>
                    <span>by <a href="#">bionthemes</a></span>
                    <span>3 comment</span>
                  </div>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                    <a class="readmore" href="#">Read more</a>
                  </p>
                </div>
              </div>
              <div class="media media-item">
                <div class="media-left">
                  <figure>
                    <a href="#" class="hover-img">
                      <img src="images/9.jpg" alt="image" width="110">
                    </a>
                  </figure>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Media heading</a></h4>
                  <div class="date">
                    <span>Jan 01, 2017</span>
                    <span>by <a href="#">bionthemes</a></span>
                    <span>3 comment</span>
                  </div>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                    <a class="readmore" href="#">Read more</a>
                  </p>
                </div>
              </div>
              <div class="media media-item">
                <div class="media-left">
                  <figure>
                    <a href="#" class="hover-img">
                      <img src="images/10.jpg" alt="image" width="110">
                    </a>
                  </figure>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Media heading</a></h4>
                  <div class="date">
                    <span>Jan 01, 2017</span>
                    <span>by <a href="#">bionthemes</a></span>
                    <span>3 comment</span>
                  </div>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                    <a class="readmore" href="#">Read more</a>
                  </p>
                </div>
              </div>
              <div class="media media-item">
                <div class="media-left">
                  <figure>
                    <a href="#" class="hover-img">
                      <img src="images/11.jpg" alt="image" width="110">
                    </a>
                  </figure>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Media heading</a></h4>
                  <div class="date">
                    <span>Jan 01, 2017</span>
                    <span>by <a href="#">bionthemes</a></span>
                    <span>3 comment</span>
                  </div>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                    <a class="readmore" href="#">Read more</a>
                  </p>
                </div>
              </div>
            </div>
            <!--blog recent-->
          </div>
          <div class="col-md-6">
            <!--event-->
            <div class="event">
              <div class="title">News &
                <h3>Event</h3></div>
              <div class="owl" data-items="1" data-itemsDesktop="1" data-itemsDesktopSmall="1" data-itemsTablet="1" data-itemsMobile="1">
                <div class="event-item">
                  <a href="#" class="hover-img">
                    <img src="images/event-2.jpg" alt="image">
                  </a>
                  <div class="media media-item">
                    <div class="media-left media-middle color-w">
                      <span>28</span> December
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">Media heading</a></h4>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                        <a class="readmore" href="#">Read more</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="event-item">
                  <a href="#" class="hover-img">
                    <img src="images/event-3.jpg" alt="image">
                  </a>
                  <div class="media media-item">
                    <div class="media-left media-middle color-w">
                      <span>30</span> December
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">Media heading</a></h4>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                        <a class="readmore" href="#">Read more</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="event-item">
                  <a href="#" class="hover-img">
                    <img src="images/event-1.jpg" alt="image">
                  </a>
                  <div class="media media-item">
                    <div class="media-left media-middle color-w">
                      <span>03</span> January
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">Media heading</a></h4>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                        <a class="readmore" href="#">Read more</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/event-->
          </div>
        </div>
        <!-- newsletter-->
        <div class="newsletter">
          <div class="row">
            <div class="col-lg-3">
              <div class="title">
                <h3>Newsletter</h3></div>
            </div>
            <div class="col-lg-9">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="name" placeholder="Your name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-item" name="email" placeholder="Email@example.com">
                </div>
                <button type="submit" name="submit" class="btn btn-1">Subscrible</button>
              </form>
            </div>
          </div>
        </div>
        <!--/newsletter-->
      </div>
    </div>
    <!--wrap-content-->
    <!-- footer -->
    <footer id="wrap-footer" class="color-w">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="#" class="logo">
                <img src="images/logo.png" alt="image">
              </a>
              <ul>
                <li>Address<span class="pull-right">285 Bion Building, NewYork</span></li>
                <li>Phone<span class="pull-right">+00 123 4567 89</span></li>
                <li>Email<span class="pull-right">bionthemes@gmail.com</span></li>
                <li>Website<span class="pull-right">http://bion.nhatgroup.com</span></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h4>Opening hour</h4>
              <ul>
                <li>Monday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Tuesday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Wednesday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Thursday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Friday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Saturday<span class="pull-right">10:00 Am - 23:00 Pm</span></li>
                <li>Sunday<span class="pull-right">Closed</span></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h4>Gallery</h4>
              <ul class="gallery-2">
                <li class="gallery-item">
                  <a href="images/thumbs-large/2.jpg" class="hover-img image-zoom">
                    <img src="images/2.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/4.jpg" class="hover-img image-zoom">
                    <img src="images/4.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/5.jpg" class="hover-img image-zoom">
                    <img src="images/5.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/6.jpg" class="hover-img image-zoom">
                    <img src="images/6.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/7.jpg" class="hover-img image-zoom">
                    <img src="images/7.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/8.jpg" class="hover-img image-zoom">
                    <img src="images/8.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                    <img src="images/9.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                    <img src="images/9.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                    <img src="images/9.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h4>Flow us on</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ant</p>
              <ul class="list-inline social-default social-bg-gray">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p>Designed by <a href="http://bion.nhatgroup.com">BionThemes</a>. All Rights Reserved</p>
        </div>
      </div>
    </footer>
    <!--/footer-->
  </div>
  <!--jquery-->
  <script src="plugins/jquery/jquery-2.2.4.min.js"></script>
  <!--bootstrap-->
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <!--owl carousel-->
  <script src="plugins/owl-coursel/owl.carousel.js"></script>
  <!--magnific popup-->
  <script src="plugins/magnific-popup/magnific-popup.min.js"></script>
  <!--script-->
  <script src="js/script.js"></script>
</body>

</html>
