<!-- Page header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Foods</span> - All Foods</h4>
    </div>
  </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
  <div class="content-group-buttons clearfix">
    <div class="group-buttons-left clearfix">
      <button type="button" class="btn btn-primary btn-raised legitRipple" (click)="onNavigateNew()"><i class="icon-plus2 position-left"></i> Create New</button>
    </div>
    <div class="group-buttons-right clearfix">
      <button type="button" class="btn btn-danger btn-raised legitRipple btn-del-selected" (click)="onDeleteMany()"><i class="icon-cross position-left"></i> Delete</button>
    </div>
  </div>
  <!-- Table -->
  <div class="panel panel-flat panel-page">
    <table class="table datatable-food table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>
            <div class="checkbox">
              <label>
                <input type="checkbox" class="styled">
              </label>
            </div>
          </th>
          <th>Name</th>
          <th>Price</th>
          <th>Image</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /table -->
  <!-- Footer -->
  <div class="footer text-muted">
    &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
  </div>
  <!-- /footer -->
</div>
<!-- /content area -->
