<!--wrap-content-->
<div id="wrap-body">
  <!--slideshow-->
  <div class="heading-group slideshow color-w">
    <h1>Welccome to our<span>Restaurent</span></h1>
    <h3>BREAKFAST / CAFE / DESSERT / FAST FOOD / DINNER / EVENT</h3>
    <div class="star-group">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o star-1x"></i>
      <i class="fa fa-star-o"></i>
    </div>
    <a class="btn btn-1" href="#">Read more</a>
  </div>
  <!--/slideshow-->
  <div class="container" id="main-content">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <!--welcome-->
        <div class="mod-welcome">
          <div class="title">Bionjoy
            <h3>Restaurent</h3></div>
          <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet conse ctetur adipisicing elit
            <a class="readmore" href="about.html">Read more</a>
          </p>
        </div>
        <!--/welcome-->
      </div>
      <div class="col-sm-12 col-md-4">
        <!--reservation btn-->
        <div class="reservation-btn">
          <a href="reservation.html">
                  reservation
                </a>
        </div>
        <!--/reservation btn-->
      </div>
    </div>
    <!--ad-->
    <div class="ad">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="ad-item bg-1">
            <h3>Spcial offer -  Off 50%</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, commodi
              <a class="readmore" href="food-detail.html">Read more</a>
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="ad-item bg-2">
            <h3>Hot deal - Free</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, commodi
              <a class="readmore" href="food-detail.html">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--/ad-->
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <!--menu category-->
        <div class="mn-category color-w">
          <div class="mn-category-inner">
            <div class="title">
              <h3>Our menu</h3></div>
            <ul class="list-ul">
              <li><a href="menu.html">01. Pizza Mexicana</a><span>$10</span></li>
              <li><a href="menu.html">02. Fresh Juices</a><span>$46</span></li>
              <li><a href="menu.html">03. Chicken Mojamo</a><span>$19</span></li>
              <li><a href="menu.html">04. Zoozoo Chicken</a><span>$30</span></li>
              <li><a href="menu.html">05. Lasagna Mermer</a><span>$23</span></li>
              <li><a href="menu.html">06. Garbo Chicken</a><span>$21</span></li>
              <li><a href="menu.html">07. Beef Mirchi</a><span>$22</span></li>
              <li><a href="menu.html">08. Barbique Delite</a><span>$47</span></li>
              <li><a href="menu.html">09. Rabit Rost</a><span>$42</span></li>
              <li><a href="menu.html">10. Rabit Rost</a><span>$42</span></li>
            </ul>
          </div>
        </div>
        <!--/menu category-->
      </div>
      <div class="col-sm-7 col-md-8">
        <!--gallery-->
        <div class="gallery-1">
          <div class="row">
            <div class="gallery-item col-xs-7 col-sm-6 col-md-6">
              <a href="#" class="hover-img n1">
                <img src="assets/images/thumbs-large/3.jpg" alt="image">
                <div class="hover-caption color-w">
                  <h3>Salads / $35</h3></div>
              </a>
            </div>
            <div class="gallery-item col-xs-5 col-sm-6 col-md-6">
              <a href="#" class="hover-img n2">
                <img src="assets/images/thumbs-large/4.jpg" alt="image">
                <div class="hover-caption color-w">
                  <h3>Salads / $22</h3></div>
              </a>
            </div>
            <div class="gallery-item col-xs-5 col-sm-6 col-md-6">
              <a href="#" class="hover-img n2">
                <img src="assets/images/thumbs-large/8.jpg" alt="image">
                <div class="hover-caption color-w">
                  <h3>Salads / $18</h3></div>
              </a>
            </div>
            <div class="gallery-item col-xs-12 col-sm-12 col-md-12">
              <a href="#" class="hover-img n2">
                <img src="assets/images/thumbs-large/5.jpg" alt="image">
                <div class="hover-caption color-w">
                  <h3>Salads / $98</h3></div>
              </a>
            </div>
          </div>
        </div>
        <!--/gallery-->
      </div>
    </div>
    <!--populer-->
    <div class="product most-popular">
      <div class="title">Most
        <h3>Populer</h3></div>
      <div class="row">
        <div class="owl" data-items="4" data-itemsDesktop="4" data-itemsDesktopSmall="3" data-itemsTablet="2" data-itemsMobile="1">
          <div class="col-md-12">
            <div class="thumbnail">
              <a href="images/thumbs-large/18.jpg" class="hover-img image-zoom">
                <img src="assets/images/18.jpg" alt="image">
                <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
              </a>
              <div class="caption">
                <h4><a href="food-detail.html">Chicken Breast</a></h4>
                <p class="price">$56.99</p>
                <p>Lorem ipsum dolor sit amet conse ctetur</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="thumbnail">
              <a href="images/thumbs-large/16.jpg" class="hover-img image-zoom">
                <img src="assets/images/16.jpg" alt="image">
                <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
              </a>
              <div class="caption">
                <h4><a href="food-detail.html">Chicken Breast</a></h4>
                <p class="price">$56.99</p>
                <p>Lorem ipsum dolor sit amet conse ctetur</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="thumbnail">
              <a href="images/thumbs-large/15.jpg" class="hover-img image-zoom">
                <img src="assets/images/15.jpg" alt="image">
                <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
              </a>
              <div class="caption">
                <h4><a href="food-detail.html">Chicken Breast</a></h4>
                <p class="price">$56.99</p>
                <p>Lorem ipsum dolor sit amet conse ctetur</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="thumbnail">
              <a href="images/thumbs-large/14.jpg" class="hover-img image-zoom">
                <img src="assets/images/14.jpg" alt="image">
                <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
              </a>
              <div class="caption">
                <h4><a href="food-detail.html">Chicken Breast</a></h4>
                <p class="price">$56.99</p>
                <p>Lorem ipsum dolor sit amet conse ctetur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--testimonial-->
    <div class="heading-group testimonial color-w">
      <h2>TESTIMONIALS</h2>
      <div class="star-group">
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o star-1x"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="owl" data-items="1" data-itemsDesktop="1" data-itemsDesktopSmall="1" data-itemsTablet="1" data-itemsMobile="1">
        <div class="testimonial-item">
          <figure class="testimonial-img"><img src="assets/images/face-2.jpg" alt="image"></figure>
          <h4>- Susanna Davis -</h4>
          <p>" Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh."</p>
        </div>
        <div class="testimonial-item">
          <figure class="testimonial-img"><img src="assets/images/face-1.jpg" alt="image"></figure>
          <h4>- Peter Corbett -</h4>
          <p>" Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh."</p>
        </div>
        <div class="testimonial-item">
          <figure class="testimonial-img"><img src="assets/images/face-3.jpg" alt="image"></figure>
          <h4>- William Smith -</h4>
          <p>" Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. "</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!--blog recent-->
        <div class="recent_post">
          <div class="title">Last
            <h3>Blog</h3></div>
          <div class="media media-item">
            <div class="media-left">
              <figure>
                <a href="#" class="hover-img">
                  <img src="assets/images/8.jpg" alt="image" width="110">
                </a>
              </figure>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Media heading</a></h4>
              <div class="date">
                <span>Jan 01, 2017</span>
                <span>by <a href="#">bionthemes</a></span>
                <span>3 comment</span>
              </div>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                <a class="readmore" href="#">Read more</a>
              </p>
            </div>
          </div>
          <div class="media media-item">
            <div class="media-left">
              <figure>
                <a href="#" class="hover-img">
                  <img src="assets/images/9.jpg" alt="image" width="110">
                </a>
              </figure>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Media heading</a></h4>
              <div class="date">
                <span>Jan 01, 2017</span>
                <span>by <a href="#">bionthemes</a></span>
                <span>3 comment</span>
              </div>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                <a class="readmore" href="#">Read more</a>
              </p>
            </div>
          </div>
          <div class="media media-item">
            <div class="media-left">
              <figure>
                <a href="#" class="hover-img">
                  <img src="assets/images/10.jpg" alt="image" width="110">
                </a>
              </figure>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Media heading</a></h4>
              <div class="date">
                <span>Jan 01, 2017</span>
                <span>by <a href="#">bionthemes</a></span>
                <span>3 comment</span>
              </div>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                <a class="readmore" href="#">Read more</a>
              </p>
            </div>
          </div>
          <div class="media media-item">
            <div class="media-left">
              <figure>
                <a href="#" class="hover-img">
                  <img src="assets/images/11.jpg" alt="image" width="110">
                </a>
              </figure>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Media heading</a></h4>
              <div class="date">
                <span>Jan 01, 2017</span>
                <span>by <a href="#">bionthemes</a></span>
                <span>3 comment</span>
              </div>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                <a class="readmore" href="#">Read more</a>
              </p>
            </div>
          </div>
        </div>
        <!--blog recent-->
      </div>
      <div class="col-md-6">
        <!--event-->
        <div class="event">
          <div class="title">News &
            <h3>Event</h3></div>
          <div class="owl" data-items="1" data-itemsDesktop="1" data-itemsDesktopSmall="1" data-itemsTablet="1" data-itemsMobile="1">
            <div class="event-item">
              <a href="#" class="hover-img">
                <img src="assets/images/event-2.jpg" alt="image">
              </a>
              <div class="media media-item">
                <div class="media-left media-middle color-w">
                  <span>28</span> December
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Media heading</a></h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                    <a class="readmore" href="#">Read more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="event-item">
              <a href="#" class="hover-img">
                <img src="assets/images/event-3.jpg" alt="image">
              </a>
              <div class="media media-item">
                <div class="media-left media-middle color-w">
                  <span>30</span> December
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Media heading</a></h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                    <a class="readmore" href="#">Read more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="event-item">
              <a href="#" class="hover-img">
                <img src="assets/images/event-1.jpg" alt="image">
              </a>
              <div class="media media-item">
                <div class="media-left media-middle color-w">
                  <span>03</span> January
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Media heading</a></h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                    <a class="readmore" href="#">Read more</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/event-->
      </div>
    </div>
    <!-- newsletter-->
    <div class="newsletter">
      <div class="row">
        <div class="col-lg-3">
          <div class="title">
            <h3>Newsletter</h3></div>
        </div>
        <div class="col-lg-9">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control form-item" name="name" placeholder="Your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-item" name="email" placeholder="Email@example.com">
            </div>
            <button type="submit" name="submit" class="btn btn-1">Subscrible</button>
          </form>
        </div>
      </div>
    </div>
    <!--/newsletter-->
  </div>
</div>
<!--wrap-content-->
