<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact - Bionjoy</title>
  <link rel="icon" href="favicon.png" sizes="32x32" type="image/png">
  <!--owl carousel-->
  <link rel="stylesheet" type="text/css" href="plugins/owl-coursel/owl.carousel.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="plugins/owl-coursel/owl.theme.css" media="screen" />
  <!--magnific popup-->
  <link rel="stylesheet" type="text/css" href="plugins/magnific-popup/magnific-popup.css" media="screen" />
  <!--bootstrap-->
  <link rel="stylesheet" type="text/css" href="plugins/bootstrap/bootstrap.min.css" media="screen" />
  <!--awesome font icons-->
  <link rel="stylesheet" type="text/css" href="css/icon/font-awesome-4.7.0/css/font-awesome.css" media="screen" />
  <!--style-->
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <!--google font-->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="wrap">
    <!-- preload-->
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <!-- header-->
    <header id="wrap-header">
      <div class="container">
        <!--menu + logo-->
        <nav class="navbar navbar-default menu-nav">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--logo-->
              <a href="index.html" class="navbar-brand logo">
                <img src="images/logo.png" alt="image" width="150">
              </a>
              <!--/logo-->
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="reservation.html">Reservation</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                  <ul class="dropdown-menu">
                    <li><a href="food-detail.html">Food Detail</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-detail.html">Blog single</a></li>
                    <li><a href="error_404.html">Error_404</a></li>
                  </ul>
                </li>
                <li><a class="active" href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!--/menu + logo-->
      </div>
    </header>
    <!-- /header-->
    <div id="wrap-body">
      <!--banner-->
      <div class="heading-group page-name color-w">
        <h1>Contact</h1>
        <ul class="becku">
          <li><a href="#">Home</a></li>
          <li>Contact</li>
        </ul>
        <div class="star-group">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o star-1x"></i>
          <i class="fa fa-star-o"></i>
        </div>
      </div>
      <!-- /banner-->
      <div class="container" id="main-content">
        <div class="row">
          <div class="col-md-6">
            <!--contact-->
            <div class="contact">
              <div class="addr">
                <div class="title">Contact
                  <h3>info</h3></div>
                <p>Our family has been in the restaurant business for a very long time. Nowadays we can proudly boast our reputation for a well known Italian restaurant in our area.&nbsp;</p>
                <ul class="list-ul">
                  <li><i class="fa fa-home"></i>285 Bion Building, NewYork</li>
                  <li><i class="fa fa-phone"></i>+00 123 4567 89</li>
                  <li><i class="fa fa-envelope"></i>bionthemes@gmail.com</li>
                </ul>
              </div>
              <form id="contact-form">
                <div class="title">Contact
                  <h3>form</h3></div>
                <div id="msg" class="message"></div>
                <div class="form-group">
                  <input type="text" class="form-control form-item" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-item" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-item" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <textarea class="form-control form-item" rows="3" id="content" name="content" placeholder="Content"></textarea>
                </div>
                <button id="submit_contact" type="submit" class="btn btn-1">Send</button>
              </form>
            </div>
            <!--/contact-->
          </div>
          <div class="col-md-6">
            <!--googlemap-->
            <div id="googlemap"></div>
          </div>
        </div>
        <!--newsletter-->
        <div class="newsletter">
          <div class="row">
            <div class="col-lg-3">
              <div class="title">
                <h3>Newsletter</h3></div>
            </div>
            <div class="col-lg-9">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-item" name="email" placeholder="Email@example.com">
                </div>
                <button type="submit" class="btn btn-1">Subscrible</button>
              </form>
            </div>
          </div>
        </div>
        <!--/newsletter-->
      </div>
    </div>
    <!--footer-->
    <footer id="wrap-footer" class="color-w">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="#" class="logo">
                <img src="images/logo.png" alt="image">
              </a>
              <ul>
                <li>Address<span class="pull-right">285 Bion Building, NewYork</span></li>
                <li>Phone<span class="pull-right">+00 123 4567 89</span></li>
                <li>Email<span class="pull-right">bionthemes@gmail.com</span></li>
                <li>Website<span class="pull-right">http://bion.nhatgroup.com</span></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h4>Opening hour</h4>
              <ul>
                <li>Monday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Tuesday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Wednesday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Thursday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Friday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
                <li>Saturday<span class="pull-right">10:00 Am - 23:00 Pm</span></li>
                <li>Sunday<span class="pull-right">Closed</span></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h4>Gallery</h4>
              <ul class="gallery-2">
                <li class="gallery-item">
                  <a href="images/thumbs-large/2.jpg" class="hover-img image-zoom">
                    <img src="images/2.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/4.jpg" class="hover-img image-zoom">
                    <img src="images/4.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/5.jpg" class="hover-img image-zoom">
                    <img src="images/5.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/6.jpg" class="hover-img image-zoom">
                    <img src="images/6.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/7.jpg" class="hover-img image-zoom">
                    <img src="images/7.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/8.jpg" class="hover-img image-zoom">
                    <img src="images/8.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                    <img src="images/9.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                    <img src="images/9.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
                <li class="gallery-item">
                  <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                    <img src="images/9.jpg" alt="image">
                    <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h4>Flow us on</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ant</p>
              <ul class="list-inline social-default social-bg-gray">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p>Designed by <a href="http://bion.nhatgroup.com">BionThemes</a>. All Rights Reserved</p>
        </div>
      </div>
    </footer>
    <!--/footer-->
  </div>
  <!--jquery-->
  <script src="plugins/jquery/jquery-2.2.4.min.js"></script>
  <!--bootstrap-->
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <!--owl carousel-->
  <script src="plugins/owl-coursel/owl.carousel.js"></script>
  <!--magnific popup-->
  <script src="plugins/magnific-popup/magnific-popup.min.js"></script>
  <!--google map-->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAR9lxpxqWMKQKqbhJblJiFVAgJBw7ljlQ"></script>
  <!--script-->
  <script src="js/script.js"></script>

  <script type="text/javascript">
  //====================================================
  //Google Map
  //====================================================
  google.maps.event.addDomListener(window, 'load', init);

  function init() {
    var mapOptions = {
      // How zoomed in you want the map to start at (always required)
      zoom: 11,
      scrollwheel: false,

      // The latitude and longitude to center the map (always required)
      center: new google.maps.LatLng(40.789886, -74.056700),


      // How you would like to style the map.
      // This is where you would paste any style found on Snazzy Maps.
    };

    // Get the HTML DOM element that will contain your map
    // We are using a div with id="map" seen below in the <body>
    var mapElement = document.getElementById('googlemap');

    // Create the Google Map using our element and options defined above
    var map = new google.maps.Map(mapElement, mapOptions);

    // Let's also add a marker while we're at it
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(40.789886, -74.056700),
      map: map,
      title: 'Snazzy!'
    });

  }
  </script>
</body>

</html>
