<div id="wrap-body">
  <!--banner-->
  <div class="heading-group page-name color-w">
    <h1>Contact</h1>
    <ul class="becku">
      <li><a href="#">Home</a></li>
      <li>Contact</li>
    </ul>
    <div class="star-group">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o star-1x"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </div>
  <!-- /banner-->
  <div class="container" id="main-content">
    <div class="row">
      <div class="col-md-6">
        <!--contact-->
        <div class="contact">
          <div class="addr">
            <div class="title">Contact
              <h3>info</h3></div>
            <p>Our family has been in the restaurant business for a very long time. Nowadays we can proudly boast our reputation for a well known Italian restaurant in our area.&nbsp;</p>
            <ul class="list-ul">
              <li><i class="fa fa-home"></i>285 Bion Building, NewYork</li>
              <li><i class="fa fa-phone"></i>+00 123 4567 89</li>
              <li><i class="fa fa-envelope"></i>bionthemes@gmail.com</li>
            </ul>
          </div>
          <form id="contact-form">
            <div class="title">Contact
              <h3>form</h3></div>
            <div id="msg" class="message"></div>
            <div class="form-group">
              <input type="text" class="form-control form-item" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-item" id="phone" name="phone" placeholder="Phone">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-item" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea class="form-control form-item" rows="3" id="content" name="content" placeholder="Content"></textarea>
            </div>
            <button id="submit_contact" type="submit" class="btn btn-1">Send</button>
          </form>
        </div>
        <!--/contact-->
      </div>
      <div class="col-md-6">
        <!--googlemap-->
        <div id="googlemap"></div>
      </div>
    </div>
    <!--newsletter-->
    <div class="newsletter">
      <div class="row">
        <div class="col-lg-3">
          <div class="title">
            <h3>Newsletter</h3></div>
        </div>
        <div class="col-lg-9">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control form-item" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-item" name="email" placeholder="Email@example.com">
            </div>
            <button type="submit" class="btn btn-1">Subscrible</button>
          </form>
        </div>
      </div>
    </div>
    <!--/newsletter-->
  </div>
</div>
