<!--wrap-content-->
<div id="wrap-body">
  <!--banner-->
  <div class="heading-group page-name color-w">
    <h1>Blog</h1>
    <ul class="becku">
      <li><a href="#">Home</a></li>
      <li>Blog</li>
    </ul>
    <div class="star-group">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o star-1x"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </div>
  <!--/banner-->
  <div class="container" id="main-content">
    <div class="blog list-blog">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#" class="hover-img">
              <img src="assets/images/thumbs-large/11.jpg" alt="image">
            </a>
            <div class="date">
              <span>Jan 01, 2017</span>
              <span>by <a href="#">bionthemes</a></span>
              <span>3 comment</span>
            </div>
            <div class="caption">
              <h3><a href="bdetail.html">CRAS IN SEM IN ARCU ULTRICES</a></h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. <a class="readmore" href="bdetail.html">Read more</a>
              </p>
              <ul class="list-inline social-default">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#" class="hover-img">
              <img src="assets/images/thumbs-large/12.jpg" alt="image">
            </a>
            <div class="date">
              <span>Jan 01, 2017</span>
              <span>by <a href="#">bionthemes</a></span>
              <span>3 comment</span>
            </div>
            <div class="caption">
              <h3><a href="bdetail.html">CRAS IN SEM IN ARCU ULTRICES</a></h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. <a class="readmore" href="bdetail.html">Read more</a>
              </p>
              <ul class="list-inline social-default">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#" class="hover-img">
              <img src="assets/images/thumbs-large/13.jpg" alt="image">
            </a>
            <div class="date">
              <span>Jan 01, 2017</span>
              <span>by <a href="#">bionthemes</a></span>
              <span>3 comment</span>
            </div>
            <div class="caption">
              <h3><a href="bdetail.html">CRAS IN SEM IN ARCU ULTRICES</a></h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. <a class="readmore" href="bdetail.html">Read more</a>
              </p>
              <ul class="list-inline social-default">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#" class="hover-img">
              <img src="assets/images/thumbs-large/14.jpg" alt="image">
            </a>
            <div class="date">
              <span>Jan 01, 2017</span>
              <span>by <a href="#">bionthemes</a></span>
              <span>3 comment</span>
            </div>
            <div class="caption">
              <h3><a href="bdetail.html">CRAS IN SEM IN ARCU ULTRICES</a></h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. <a class="readmore" href="bdetail.html">Read more</a>
              </p>
              <ul class="list-inline social-default">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#" class="hover-img">
              <img src="assets/images/thumbs-large/15.jpg" alt="image">
            </a>
            <div class="date">
              <span>Jan 01, 2017</span>
              <span>by <a href="#">bionthemes</a></span>
              <span>3 comment</span>
            </div>
            <div class="caption">
              <h3><a href="bdetail.html">CRAS IN SEM IN ARCU ULTRICESdd</a></h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. <a class="readmore" href="bdetail.html">Read more</a>
              </p>
              <ul class="list-inline social-default">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#" class="hover-img">
              <img src="assets/images/thumbs-large/16.jpg" alt="image">
            </a>
            <div class="date">
              <span>Jan 01, 2017</span>
              <span>by <a href="#">bionthemes</a></span>
              <span>3 comment</span>
            </div>
            <div class="caption">
              <h3><a href="bdetail.html">CRAS IN SEM IN ARCU ULTRICES</a></h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.<a class="readmore" href="bdetail.html">Read more</a>
              </p>
              <ul class="list-inline social-default">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-youtube-play"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--blog-->
        <div class="col-sm-12 text-center bion-pg">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li><a href="#">01</a></li>
            <li><a href="#">02</a></li>
            <li><a href="#">03</a></li>
            <li><a href="#">04</a></li>
            <li class="dash"><span>...</span></li>
            <li><a href="#">05</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--newsletter-->
    <div class="newsletter">
      <div class="row">
        <div class="col-lg-3">
          <div class="title">
            <h3>Newsletter</h3></div>
        </div>
        <div class="col-lg-9">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control form-item" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-item" name="email" placeholder="Email@example.com">
            </div>
            <button type="submit" name="submit" class="btn btn-1">Subscrible</button>
          </form>
        </div>
      </div>
    </div>
    <!--/newsletter-->
  </div>
</div>
<!--/wrap-content-->
