<!--wrap-content-->
<div id="wrap-body">
  <!--banner-->
  <div class="heading-group page-name color-w">
    <h1>Food detail</h1>
    <ul class="becku">
      <li><a href="#">Home</a></li>
      <li><a href="#">Menu</a></li>
      <li>Food detail</li>
    </ul>
    <div class="star-group">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o star-1x"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </div>
  <!--/banner-->
  <div class="container food-item" id="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="title">Chicken Breast</div>
      </div>
      <div class="col-md-8">
        <div class="food-detail">
          <div class="owl" data-items="1" data-itemsDesktop="1" data-itemsDesktopSmall="1" data-itemsTablet="1" data-itemsMobile="1">
            <div class="food-item">
              <a href="#" class="hover-img">
                <img src="assets/images/food-detail/food-detail-1.jpg" alt="image">
              </a>
            </div>
            <div class="food-item">
              <a href="#" class="hover-img">
                <img src="assets/images/food-detail/food-detail-2.jpg" alt="image">
              </a>
            </div>
            <div class="food-item">
              <a href="#" class="hover-img">
                <img src="assets/images/food-detail/food-detail-3.jpg" alt="image">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price">
          <span>56$</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua.
        </div>
      </div>
    </div>
    <div class="reservation">
      <div class="title">Order</div>
      <div class="row">
        <div class="col-md-8">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="name" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="phone" placeholder="Phone">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="email" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="guest" placeholder="Guest">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="date" placeholder="Date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="time" placeholder="Time">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control form-item" rows="3" name="content" placeholder="Content"></textarea>
            </div>
            <button type="submit" name="submit" class="btn btn-1">Book now</button>
          </form>
        </div>
        <!-- contact info-->
        <div class="col-md-4">
          <div class="lh">
            <i class="fa fa-phone"></i>
            <p>(+ 00) 123 4567 89</p>
          </div>
          <div class="lh">
            <i class="fa fa-envelope-o"></i>
            <p>bionthemes@gmail.com</p>
          </div>
          <div class="lh">
            <i class="fa fa-map-signs"></i>
            <p>285 Bion Building, NewYork</p>
          </div>
        </div>
        <!-- /contact info-->
      </div>
    </div>
    <!--newsletter-->
    <div class="newsletter">
      <div class="row">
        <div class="col-lg-3">
          <div class="title">
            <h3>Newsletter</h3></div>
        </div>
        <div class="col-lg-9">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control form-item" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-item" name="email" placeholder="Email@example.com">
            </div>
            <button type="submit" class="btn btn-1" name="submit">Subscrible</button>
          </form>
        </div>
      </div>
    </div>
    <!--/newsletter-->
  </div>
</div>
<!--/wrap-content-->
