<!--wrap-content-->
<div id="wrap-body">
  <!--banner-->
  <div class="heading-group page-name color-w">
    <h1>Reservation</h1>
    <ul class="becku">
      <li><a href="#">Home</a></li>
      <li>reservation</li>
    </ul>
    <div class="star-group">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o star-1x"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </div>
  <!--/banner-->
  <div class="container" id="main-content">
    <!-- reservation-->
    <div class="reservation">
      <div class="title">Make a
        <h3>Reservation</h3></div>
      <p>To get a reservation, please fill out the form bellow. We receive reservation for lunch and dinner</p>
      <div class="row">
        <div class="col-md-8">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="name" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="phone" placeholder="Phone">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="email" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="guest" placeholder="Guest">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="date" placeholder="Date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control form-item" name="time" placeholder="Time">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control form-item" rows="3" name="content" placeholder="Content"></textarea>
            </div>
            <button type="submit" name="submit" class="btn btn-1">Book now</button>
          </form>
        </div>
        <!-- contact info-->
        <div class="col-md-4">
          <div class="lh">
            <i class="fa fa-phone"></i>
            <p>(+ 00) 123 4567 89</p>
          </div>
          <div class="lh">
            <i class="fa fa-envelope-o"></i>
            <p>bionthemes@gmail.com</p>
          </div>
          <div class="lh">
            <i class="fa fa-map-signs"></i>
            <p>285 Bion Building, NewYork</p>
          </div>
        </div>
        <!-- /contact info-->
      </div>
    </div>
    <!-- /reservation-->
    <!-- newsletter-->
    <div class="newsletter">
      <div class="row">
        <div class="col-lg-3">
          <div class="title">
            <h3>Newsletter</h3></div>
        </div>
        <div class="col-lg-9">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control form-item" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-item" name="email" placeholder="Email@example.com">
            </div>
            <button type="submit" name="submit" class="btn btn-1">Subscrible</button>
          </form>
        </div>
      </div>
    </div>
    <!-- /newsletter-->
  </div>
</div>
<!--wrap-content-->
