/* You can add global styles to this file, and also import other style files */

.content-group-buttons { margin-bottom: 20px !important; }
.group-buttons-left { float: left; }
.group-buttons-left .btn { display: block; float: left; margin-right: 10px; }
.group-buttons-right { float: right; }

.form-layouts { padding-top: 40px; }
.panel-page { border-top: 3px solid #2196f3; }

table .checkbox { margin-top: 0px; margin-bottom: 0px; }
table .checkbox label { padding-left: 0px; min-height: auto; }

table .td-actions a.btn-del-record { color: #F44336; }