<!--wrap-content-->
<div id="wrap-body">
  <!--banner-->
  <div class="heading-group page-name color-w">
    <h1>Page not found</h1>
    <ul class="becku">
      <li><a href="#">Home</a></li>
      <li>error_404</li>
    </ul>
    <div class="star-group">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o star-1x"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </div>
  <!--/banner-->
  <div class="container" id="main-content">
    <!--error-->
    <div class="error">
      <h2>Error 404!</h2>
      <p>Go our <a href="#">home page</a> or go back to <a href="#">preview page</a></p>
    </div>
    <!--/error-->
  </div>
</div>
<!--/wrap-content-->
