<div id="wrap">
  <!--preloader-->
  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_four"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_one"></div>
      </div>
    </div>
  </div>
  <!-- header-->
  <header id="wrap-header">
    <div class="container">
      <!--menu + logo-->
      <nav class="navbar navbar-default menu-nav">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--logo-->
            <a class="navbar-brand logo" routerLink="/home" routerLinkActive="active">
              <img src="assets/images/logo.png" alt="image" width="150">
            </a>
            <!--/logo-->
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/about" routerLinkActive="active">About</a></li>
              <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
              <li><a routerLink="/reservation" routerLinkActive="active">Reservation</a></li>
              <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
              <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!--/menu + logo-->
    </div>
  </header>
  <!--/header-->

  <router-outlet></router-outlet>

  <!-- footer -->
  <footer id="wrap-footer" class="color-w">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#" class="logo">
              <img src="assets/images/logo.png" alt="image">
            </a>
            <ul>
              <li>Address<span class="pull-right">285 Bion Building, NewYork</span></li>
              <li>Phone<span class="pull-right">+00 123 4567 89</span></li>
              <li>Email<span class="pull-right">bionthemes@gmail.com</span></li>
              <li>Website<span class="pull-right">http://bion.nhatgroup.com</span></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Opening hour</h4>
            <ul>
              <li>Monday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
              <li>Tuesday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
              <li>Wednesday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
              <li>Thursday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
              <li>Friday<span class="pull-right">8:00 Am - 22:00 Pm</span></li>
              <li>Saturday<span class="pull-right">10:00 Am - 23:00 Pm</span></li>
              <li>Sunday<span class="pull-right">Closed</span></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Gallery</h4>
            <ul class="gallery-2">
              <li class="gallery-item">
                <a href="images/thumbs-large/2.jpg" class="hover-img image-zoom">
                  <img src="assets/images/2.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/4.jpg" class="hover-img image-zoom">
                  <img src="assets/images/4.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/5.jpg" class="hover-img image-zoom">
                  <img src="assets/images/5.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/6.jpg" class="hover-img image-zoom">
                  <img src="assets/images/6.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/7.jpg" class="hover-img image-zoom">
                  <img src="assets/images/7.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/8.jpg" class="hover-img image-zoom">
                  <img src="assets/images/8.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                  <img src="assets/images/9.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                  <img src="assets/images/9.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="images/thumbs-large/9.jpg" class="hover-img image-zoom">
                  <img src="assets/images/9.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Flow us on</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ant</p>
            <ul class="list-inline social-default social-bg-gray">
              <li>
                <a href="#" class="fa fa-facebook"></a>
              </li>
              <li>
                <a href="#" class="fa fa-google-plus"></a>
              </li>
              <li>
                <a href="#" class="fa fa-twitter"></a>
              </li>
              <li>
                <a href="#" class="fa fa-youtube-play"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>Designed by <a href="http://bion.nhatgroup.com">BionThemes</a>. All Rights Reserved</p>
      </div>
    </div>
  </footer>
  <!--/footer-->
</div>
